* {margin:0; padding:0;}

ul, li {
  list-style: none;
}

ul.btsul{
  display: flex;
  margin: 0 auto;
  width: 1200px;
  flex-wrap: wrap;
}

li.btsli{
  text-align: center;
}

.btsli img{
  width: 180px;
  margin: 10px 30px;
}

ul.musicul{
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}

